DocumentRoot /var/www/html

<Directory "/var/www/html">
Options {{ APACHE_VHOST_OPTIONS }}
AllowOverride {{ APACHE_ALLOW_OVERRIDE }}
Require all granted
</Directory>

{% for p in APACHE_EXTRA_PARAMETERS %}
{{p}}
{% endfor  %}
